body{
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh ;
    margin: 0;

}
.login-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 14px 8px 10px rgb(222, 92, 255);
    text-align: center;
    width: 300px;
}

input[type="text"],input[type="password"]{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1 solid #ddd;
    border-radius: 4px;
}

button{
   padding: 10px 20px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover{
    background-color: #95c7fd;
}
.result{
    margin-top: 20px;
    font-size: 16px;
    color:blue;    
}